<style>
	#disabled{
		width: 100%;
		background-color: rgba(0, 0, 0, 0.35);
		height:135px;
		margin-top:-155px;
	}
	.form-control{
		width: 100%;
	}
</style>

<h1 class="header">SETTINGS</h2>
<div class="container">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Theme</h2>
		</div>
		<div class="panel-body">
		Select a theme, or let us set one for you based on the time of day.
		<br>
		<br>
		<form>
			<select class="form-control">
				<option>Natural</option>
				<option>Day</option>
				<option>Night</option>
			</select>
		</form>

		</div>
	</div>

	<!--Cycle
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Day/Night Cycle</h2>
		</div>
		<div class="panel-body">
		Disabling the Day/Night Cycle will lock your current theme in place.
		<br>
		<br>
		<form>
			<input type="checkbox" checked="" data-toggle="switch" id="custom-switch-01" data-on-text="ON" data-off-text="OFF" data-role="flipswitch" class="glyphicon glyphicon-ok" aria-hidden="true" style="color:#3b3c3e">
		</form>

		</div>
	</div>
	End Cycle-->

	<!--Theme
	<div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Theme</h2>
			</div>
			<div class="panel-body">
				Overwrite the day and night cycle with a persistant theme.
				<br>
				<br>
				<form>
					<div class="row">
						<div class="col-xs-6">
							<label>Dark Theme <input id="dark" type="radio" name="theme"></label>
						</div>
						<div class="col-xs-6">
							<label>Light Theme <input id="light" type="radio" name="theme"></label>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div id="disabled"></div>
	</div>
	End Theme-->

	<!--Notifications
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Notifications</h2>
		</div>
		<div class="panel-body">
		We will send the occasional notification to remind you of undiscovered art.
		<br>
		<br>
		<form>
			<input type="checkbox" checked="" data-toggle="switch" id="custom-switch-01" data-on-text="ON" data-off-text="OFF" data-role="flipswitch" class="glyphicon glyphicon-ok" aria-hidden="true" style="color:#3b3c3e">
		</form>

		</div>
	</div>
	End Notifications-->


</div>
