<h1 class="header">ABOUT</h2>

<img src="img/joandavidow.png" style="max-width:90%; margin:10px 19px;">

<p id="aboutInfo" style="text-align:justify; margin:15px;">Davidow is director emerita of Dallas Contemporary, where she spent a decade identifying emerging artists bound for careers on a national stage, and created the nationally awarded Art Think™ program, which has taught more than 30,000 students to think creatively about modern art.
<br></br>
Widely credited with transforming the Arlington Museum of Art into a contemporary hub in North Texas, Davidow gained local and international attention for her innovative exhibition and education programs.  During her tenure at Arlington, she gained the attention of ArtNews for her work in developing Texas' premier venue for cutting-edge art.  Statewide recognition came with a Texas Monthly profile naming Davidow the “most imaginative and adventurous museum director working in Texas.”
<br></br>
She currently teaches four classes she developed for Southern Methodist University’s Master of Liberal Arts program, and is conducting bi-monthly art commentaries aired on Dallas public radio station KERA.
<br></br>
“Joan's gift is both personally generous and symbolically brilliant. Thanks to her, innovative works by young, rising Texas artists will grace the buildings of a young Texas university that is rapidly rising to international prominence,” said Dr. Dennis M. Kratz, dean of the university’s School of Arts and Humanities and the Ignacy and Celina Rockover Professor of Humanities.
</p>

