
<h1 class="header" style="padding-top:0; height:65px;">

		<div class="row" style="margin:0;">
		<span class="glyphicon glyphicon-search" aria-hidden="true" ng-click="showSearch=!showSearch" id="magnifyingGlass"></span>
		<input class="searchbox" type="text" ng-model="searchText" ng-show="showSearch"></div> </h1>
<div class="row"><a href="/#tileView"><img class="tileNight" src="img/tileNight.png"style="height:30px; float:right; margin-right:60px;"/></a> <a href="/#gallery"><img src="img/listNight.png" style="height: 30px; float: right; margin-right: 30px;"/></a></div>
<div class="container">


	<a href="#/piece/{{piece.id}}" class="list-item" ng-repeat="piece in pieces | filter:searchText">

		<div class="row">
			<div class= "col-xs-4">
				<img id="galleryThumb" src="{{piece.thumb_url[0]}}"/>
			</div>
			<div class="col-xs-6" id="galleryInfo">
				<h3>{{piece.piece_title}}</h3>
				<h5>{{piece.artist}}</h5>
			</div>
			<div class="col-xs-1">
				<div class="beacon">
				                    <i class="marker"></i>
                    <i class="marker" id="beacon2"></i>
                    <i class="marker" id="beacon3"></i>
                    <i class="marker" id="beacon4"></i>
                    <i class="marker" id="beacon5"></i>
</div>
			</div>
		</div>
	</a>


</div>