<style>
	.tile-piece, .tile-piece img{
		height: 125px;
		width:125px;
		display: inline-block;
	}
	#slider{
		overflow-x:scroll;
		overflow-y:hidden;
		white-space: nowrap;
		position: fixed;
		width:100%;
		background: white;
	    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.43);	
	}
	#map-container{
		padding-top: 125px;
	}
	object{
		width:2000px;
	}
	.zoomed{
		width:100% !important;
	}
	#zoom{
		position: fixed;
		right: 20px;
		bottom: 80px;
	}
</style>

<!--Slider-->
<div id="slider">
	<div class="tile-piece" ng-repeat="piece in pieces">
		<img src="{{piece.thumb_url[0]}}" />
	</div>
</div>

<!--zoom-->
<div id="zoom">Zoom Out</div>

<!--map-->
<div id="map-container">
	
	<object data="img/First_Floor.svg" type="image/svg+xml">

	</object>

</div>