<style>
	::-webkit-scrollbar { 
	    display: none; 
	}
	.tile-piece, .tile-piece img{
		height: 125px;
		width:125px;
		display: inline-block;
	}
	#slider{
		overflow-x:scroll;
		overflow-y:hidden;
		white-space: nowrap;
		position: fixed;
		width:100%;
		background: white;
	    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.43);	
	}
	#map-container{
		padding-top: 125px;
	}
	object{
		width:500px;
		-webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
		-webkit-transform: translateZ(0);
	}

	#zoom-in{
	    position: fixed;
	    right: 20px;
	    bottom: 150px;
	    font-size: 20px;
	    background: #4FC5E7;
	    height: 50px;
	    width: 50px;
	    margin: auto;
	    text-align: center;
	    border-radius: 50%;
	    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.33);
	    color: white;
	    padding-top: 11px;
	}
	#zoom-out{
		position: fixed;
		right: 20px;
		bottom: 80px;
		font-size: 20px;
		background: #4FC5E7;
		height: 50px;
		width: 50px;
		margin: auto;
		text-align: center;
		border-radius: 50%;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.33);
		color: white;
		padding-top: 11px;
	}
</style>

<!--Slider-->
<div id="slider">
	<div class="tile-piece" ng-repeat="piece in pieces">
		<img src="{{piece.thumb_url[0]}}" />
	</div>
</div>

<!--zoom-->
<div id="zoom-in">+</div>
<div id="zoom-out">-</div>

<!--map-->
<div id="map-container">
	
	<object data="img/Floor_1.svg" type="image/svg+xml">

	</object>

</div>