<img id="piece" src="{{currentPiece.thumb_url[3]}}" class="image-responsive"/>

<div class="art-info"><h2>{{currentPiece.piece_title}}<span ngShow="{{currentPiece.piece_year}} != ''">{{currentPiece.piece_year}}</span></h2>
<h3>{{currentPiece.artist}}</h3>
<h5>{{currentPiece.piece_medium}}</h5>
    <hr class="artinfo-divider">
<h4>{{currentPiece.piece_prompt}}</h4>
</div>
<div class="artist-info">
    <p><b>Collector Notes:</b> {{currentPiece.collector_notes}}</p>
</div>
    <!--<h4>Geolocation:{{currentPiece.piece_location_geo}}</h4>
<h4>Local:{{currentPiece.piece_location_local}}</h4>
<h4>Size:{{currentPiece.piece_size}}</h4>
<h4>Description:{{currentPiece.piece_description}}</h3>
<h4>Artist Bio: {{currentPiece.artist_bio}}</h4>
<h4>Artist Link:{{currentPiece.artist_link}}<h4>
<h4>Tags:{{currentPiece.tags}}</h4>-->
<a href="https://twitter.com/share?&amp;via=UTDDavidow"><img src="img/Twitter_logo_blue.png" class="twitter"/></a>





