<style>
.tilePiece{
  height:150px;
  width: 150px;
}
.tileTitle{
  text-align: left;
  position: absolute;
  bottom: 0px;
  left: 29px;
  color: white;
  width: 150px;
  background: rgba(0, 0, 0, 0.73);
}
</style>


<input class="searchbox" type="text" ng-model="searchText"> 

<div class="row">

  <div class="col-xs-6" style="margin-bottom:20px;text-align:center" ng-repeat="piece in pieces | filter:searchText">
    
    <!--data for filtering; not shown-->
    <div class="name" name="{{piece.artist}}"></div>
    <div class="year" year="{{piece.year}}"></div>
    <div class="title" title="{{piece.piece_title}}" style="padding:0;"></div>
    <!--end filter data-->
    
    <!--data that will be shown-->
    <img class="tilePiece" src="{{piece.thumb_url[0]}}"/>
    <div class="tileTitle">{{piece.piece_title}}</div>

  </div>

</div>