<h1 class="header">ART INFO</h2>
<img class="piece" src="{{currentPiece.thumb_url[3]}}"/>

<div class="artInfo"><h4>{{currentPiece.piece_title}}<span ngShow="{{currentPiece.piece_year}} != ''"> ({{currentPiece.piece_year}})</span></h4>
<h2>{{currentPiece.artist}}</h2>
<h4>{{currentPiece.piece_medium}}</h4>
<h2>{{currentPiece.piece_prompt}}</h2>
<h4>Geolocation:{{currentPiece.piece_location_geo}}</h4>
<h4>Local:{{currentPiece.piece_location_local}}</h4>
<h4>Size:{{currentPiece.piece_size}}</h4>
<h4>Description:{{currentPiece.piece_description}}</h3>
<h4>Artist Bio: {{currentPiece.artist_bio}}</h4>
<h4>Artist Link:{{currentPiece.artist_link}}<h4>
<h4>Tags:{{currentPiece.tags}}</h4>
</div>
