/*HTML*/
body {
	color: #ebebeb;
}
a:link{
  font-family: 'Roboto', sans-serif;
  color: #ebebeb;
  text-decoration: none;
}
a:visited{
  font-family: 'Roboto', sans-serif;
  color: #ebebeb;
}
a:hover{
  font-family: 'Roboto', sans-serif;
  color: #ebebeb;
  text-decoration: none;
}
a:active{
  font-family: 'Roboto', sans-serif;
  color: #ebebeb;
}
.header{
  background:#303030;
  padding:10px;
  border-bottom:1px solid black;
  box-shadow:1px 0px 10px black;
  text-align: center;
}
a,a:hover{
  text-decoration: none;
}
p{
  font-family: 'Roboto', sans-serif;
  color: #3b3c3e;
}

/*top bar*/
nav{
  position: fixed;
  font-size: 1.5em;
  color: #DDDDDD;
  background-color: #212121;
  height: 48px;
  padding: 8px 15px;
  z-index: 100;
  width: 100%;
}
nav .glyphicon{
  margin-left: 20px;
}

/*side menu*/
#side-menu{
  position: fixed;
  right: 0;
  top: 48px;
  height: 100%;
  width: 60%;
  background-color: #363636;
  display: none;
  z-index: 99;
}

#side-menu a{
  padding: 20px;
  display: block;
  color: white;
  font-size: 1.7em;
}









/* Bottom Nav */
.bottom-nav{
  position: fixed;
  background-color: #151515;
  height: 65px;
  bottom: 0;
  padding-top: 10px;
  width: 100%;
  text-align: center;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#212121+0,141414+100 */
  background: rgb(33,33,33); /* Old browsers */
}

.bottom-nav a{
  display: inline-block;
  height: 45px;
  width: 30%;
}

.bottom-nav a:nth-child(2) {
  border-left: 1px solid #101010;
  border-right: 1px solid #101010;
}

.bottom-nav img{
 padding-left: 6%;
  padding-right: 6%;
  height: 70%;
  margin-top:4px;
  max-width: 100%;
  display:inline-block;
}


.img-header{
    padding: 20px;
    margin-bottom: 30px;
}
#main-h1{
  text-align: center;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.85);
}

#filters{
	margin-top: 20px;
  z-index: -2;
}
#piece{
  width: 100%;
}
#galleryThumb{
  height:100px;
  box-shadow: -1px 3px 4px -1px #333;
  margin-top:10px;
}
#exploreThumb{
  height:100px;
}


.art-info{
    background-color:#fff;
    padding: 3em 2em 2em 2em;
    box-shadow: 0 2px 5px 0px rgba(3,3,3,0.2);
}

.art-info span{
    float:right;
    font-size: 14px;
    font-weight: 400;
}

.artinfo-divider{
    width: 100%;
    float: left;
    border-top: 1px solid rgba(90, 76, 76, 0.27);
    margin-top: 20px;
    margin-bottom: 25px;
}

.artist-info{
    padding:2em;
    margin-bottom:7em;
}

.twitter{
  position: fixed;
  left:7%;
  bottom:20px;
  width:15%;
}
.header{
  background:#DADADA;
  padding:6px;
  border-bottom:1px solid #A7A7A7;
  box-shadow:1px 0px 10px #9E9E9E;
text-align: center;
margin-top: 1px;
}

#magnifyingGlass{
      float: left;
    left: 7px;
    font-size: 30px;
    top: 17px;
}


/*map*/
::-webkit-scrollbar { 
    display: none; 
}
.tile-piece{
  transition: .5s;
}
.tile-piece, .tile-piece img{
  height: 100px;
  width:100px;
  display: inline-block;
}
#slider{
  overflow-x:scroll;
  overflow-y:hidden;
  white-space: nowrap;
  position: fixed;
  width:100%;
  background: white;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.43);  
}
#map-container{
  padding-top: 125px;
}
object{
  padding: 0 10px;
  margin-bottom: 100px;
}

#zoom-in{
    position: fixed;
    right: 20px;
    bottom: 110px;
    font-size: 20px;
    background: #4FC5E7;
    height: 50px;
    width: 50px;
    margin: auto;
    text-align: center;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.33);
    color: white;
    padding-top: 11px;
    transition: .3s;
}
#zoom-out{
  position: fixed;
  right: 20px;
  bottom: 50px;
  font-size: 20px;
  background: #4FC5E7;
  height: 50px;
  width: 50px;
  margin: auto;
  text-align: center;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.33);
  color: white;
  padding-top: 11px;
  transition: .3s;
}

.faded{
  -webkit-opacity: .2;
}
#piece-title{
  -webkit-opacity: 0;
  transition: .5s;
  position: fixed;
  top: 125px;
  padding: 5px 20px;
  width: 100%;
  background: rgba(0, 0, 0, 0.58);
  color: white;
  letter-spacing: 1px;
  text-align: center;
}
#piece-next,#piece-prev{
  position: fixed;
  top: 130px;
  font-size: 40px;
  z-index: 9999;
  color: white;
  -webkit-opacity:0;
  transition: .5s;
}
#piece-next{
  right:15px;
width: 0; 
height: 0; 
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
border-left: 20px solid white;
}
#piece-prev{
  left: 15px;
width: 0; 
height: 0; 
border-top: 10px solid transparent;
border-bottom: 10px solid transparent; 
border-right:20px solid white; 
}


.found{
  fill: red;
  transition: 1s;
}
.normal{
  fill: #4FC5E7;
  transition: 1s;
}


#tray{
  width: 100%;
  position: fixed;
  bottom: -42%;
  left: 0;
  height: 40%;
  background: #f7f7f7;
  text-align: center;
  overflow: hidden;  
  transition: .3s;
  padding-top: 20px;
}

#tray-close-btn{
  box-shadow: 0 0 2px #676767;
  padding: 5px 0;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 10;
  bottom: 0;
  text-align: center;
  transition: .3s;
}

.tray-item{
 width: 100%;
 border-bottom: 1px solid #b5b5b5;
 padding:10px;
}

.tray-item a img{
  height: 100px;
  width: 100px;
}

.left-align{
  text-align: left;
}

.tray-title{
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2em;
}

.tray-artist{
  color: #9E9E9E;
}


#arrow{
  transition: .3s;
}

/*
for animations
!important to override 
the previous rules
*/
.tray-open{
  bottom: 0 !important;
  overflow-y:scroll !important;
}

.tray-btn-open{
  bottom: 37% !important;
}

.rotate-arrow{
  -webkit-transform: rotate(180deg);
}

.menu-padding{
  padding-bottom: 40% !important;
}

.in-pad{
  bottom: 54% !important;
}

.out-pad{
  bottom: 44% !important;
}