/*HTML*/
body {
	color: #ebebeb;
}
a:link{
  font-family: 'Roboto', sans-serif;
  color: #ebebeb;
  text-decoration: none;
}
a:visited{
  font-family: 'Roboto', sans-serif;
  color: #ebebeb;
}
a:hover{
  font-family: 'Roboto', sans-serif;
  color: #ebebeb;
  text-decoration: none;
}
a:active{
  font-family: 'Roboto', sans-serif;
  color: #ebebeb;
}
.header{
  background:#303030;
  padding:10px;
  border-bottom:1px solid black;
  box-shadow:1px 0px 10px black;
  text-align: center;
}
a,a:hover{
  text-decoration: none;
}
p{
  font-family: 'Roboto', sans-serif;
  color: #3b3c3e;
}

/**********beacon styles & transitions**********/
.beacon {
  position: relative;
}
.beacon .marker {
  border: 5px solid #4fc5e7;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  left: -10px;
  top:56px;
  /*keep at 30 so circle stays in place*/
  position: absolute;
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0;
}
#beacon2 {
  -webkit-animation-delay: 0.4s;
}
#beacon3 {
  -webkit-animation-delay: 0.8s;
}
#beacon4 {
  -webkit-animation-delay: 1.2s;
}
#beacon5 {
  -webkit-animation-delay: 1.6s;
}
@-webkit-keyframes pulsate {
  0 {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    -webkit-transform: scale(4, 4);
    opacity: 0;
  }
}
.disable-scroll{
  overflow-y: hidden;
  overflow-x: hidden;
}

#view-container{
  position: absolute;
  width:100%;
}

/* Bottom Nav */
.bottom-nav{
       position: fixed;
    background-color: #000;
    height: 65px;
    bottom: 0;
    padding-top: 10px;
    width: 100%;
    text-align: center;
}

.bottom-nav img{
   padding-left: 6%;
    padding-right: 6%;
    height: 70%;
    margin-top:4px;
    max-width: 100%;
    display:inline-block;
}

/*Side Nav*/
#dropdown-menu{
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  padding: 15px;
  background-color: #EBEBEB;
  width: 80%;
  z-index: 1;
  box-shadow: -2px 1px 11px rgb(183,183,183);
  color: rgb(255, 255, 255);
  text-align: center;
  right: 0;
  transition: .8s;
}
#dropdown-menu h2 a{
  font-size: 25px;
  color: #3b3c3e;
  border-bottom: 1px solid rgb(183, 183, 183);
  width: 100%;
  padding-bottom: 20px;
  display: inline-block;
}
#menu-close-sheild{
  position: absolute;   
  width: 70px;
  right:0px;
  height: 100%;
  top:0;
}

/*#menu-btn, #close-btn{
  padding: 5px 7px;
  position: fixed;
  font-size: 22px;
  bottom: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
  background-color: #F5F5F5;
  border-radius: 2px;
  border: 2px solid #A7A7A7;
  box-shadow: 2px 2px 0px 0px rgba(48, 48, 48, 0.1);
}

#menu-btn span, #close-btn span{
  color: #4FC5E7;
}*/

.img-header{
    padding: 20px;
    margin-bottom: 30px;
}
#main-h1{
  text-align: center;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.85);
}

#filters{
	margin-top: 20px;
  z-index: -2;
}
#piece{
  width: 100%;
}
#galleryThumb{
  height:100px;
  box-shadow: -1px 3px 4px -1px #333;
  margin-top:10px;
}
#exploreThumb{
  height:100px;
}

.searchbox{
    margin-top: 2px; 
    width: 80%;
    padding: 10px;
    z-index: 9999;
    background: #ebebeb;
    border: 2px solid #999ba1;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -khtml-border-radius: 10px;
}

.searchbox:focus{
	outline: none;
    border-color: #3b3c3e;
  color: #3b3c3e;
}

/*Isotope Stuff*/


.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
      -ms-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/* disabling Isotope CSS3 transitions*/ 

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.isotope-item {
  z-index: -1;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
}



.art-info{
    background-color:#fff;
    padding: 3em 2em 2em 2em;
    box-shadow: 0 2px 5px 0px rgba(3,3,3,0.2);
}

.art-info span{
    float:right;
    font-size: 14px;
    font-weight: 400;
}

.artinfo-divider{
    width: 5em;
    float: left;
    border: 2px solid #5A4C4C;
    margin-top: 20px;
    margin-bottom: 25px;
}

.artist-info{
    padding:2em;
}

.twitter{
  position: fixed;
  left:7%;
  bottom:20px;
  width:15%;
}
.header{
  background:#DADADA;
  padding:6px;
  border-bottom:1px solid #A7A7A7;
  box-shadow:1px 0px 10px #9E9E9E;
text-align: center;
margin-top: 1px;
}

#magnifyingGlass{
      float: left;
    left: 7px;
    font-size: 30px;
    top: 17px;
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD

/* This is based on the Flat UI HTML at http://designmodo.github.io/Flat-UI/ and BootStrap HTML */
/*development fork*/
/*import Roboto font family*/
/*import Roboto font family*/
/*dark theme background color*/
/*dark theme text color*/
/*dark theme button indention*/
/*yellow used for links & active states*/
/*@highlightB: #4fc5e7;
  @highlightY: #eaca5d*/
/*font type used for headers*/
/*font type used for all other text*/
.square {
  text-align: center;
  width: 200px;
  height: 200px;
  border: 10px solid #fff;
  display: inline-block;
  margin-right: -12px;
  font-size: h4;
}
.inactivebutton {
  -moz-box-shadow: 2px 2px 1px 1px #292929;
  -webkit-box-shadow: 2px 2px 1px 1px #292929;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.25);
  background-color: transparent;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  text-indent: 0px;
  border: 2px solid #3b3c3e;
  display: inline-block;
  color: #3b3c3e;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  height: 50px;
  line-height: 55px;
  width: 200px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
.activebutton {
  -moz-box-shadow: inset 2px 2px 1px 1px #292929;
  -webkit-box-shadow: inset 2px 2px 1px 1px #292929;
  box-shadow: inset 1px 1px 1px 2px rgba(0, 0, 0, 0.25);
  background-color: #4fc5e7;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  text-indent: 0px;
  display: inline-block;
  color: #ebebeb;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  height: 50px;
  line-height: 55px;
  width: 200px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 30px;
}
.corner {
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
}
.sq1,
.sq2,
.sq3,
.sq4 {
  text-align: center;
  width: 200px;
  height: 200px;
  border: 10px solid #fff;
  display: inline-block;
  margin-right: -12px;
  font-size: h4;
}
.sq1 {
  background-color: #3b3c3e;
}
.sq2 {
  background-color: #4fc5e7;
}
.sq3 {
  background-color: #ebebeb;
}
.sq4 {
  background-color: #999ba1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  color: #3b3c3e;
}

body {
  background-color: #ebebeb;
  color: #3b3c3e;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: #3b3c3e;
}
ul {
  list-style-type: square;
  color: #4fc5e7;
}
.title {
  padding-top: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}
.title > img {
  width: 15%;
  height: auto;
}
#button-row {
  align: center;
  background-color: none;
  width: 80%;
  margin-left: 20%;
  overflow: auto;
}
#button-col {
  float: left;
  width: 30%;
}
#input-col {
  float: left;
  width: 25%;
}
#share-col {
  float: right;
  width: 35%;
}
.btn-inactive {
  -moz-box-shadow: 2px 2px 1px 1px #292929;
  -webkit-box-shadow: 2px 2px 1px 1px #292929;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.25);
  background-color: transparent;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  text-indent: 0px;
  border: 2px solid #3b3c3e;
  display: inline-block;
  color: #3b3c3e;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  height: 50px;
  line-height: 55px;
  width: 200px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
.btn:hover {
  text-decoration: none;
}
.btn-active {
  margin-bottom: 1em;
  -moz-box-shadow: inset 2px 2px 1px 1px #292929;
  -webkit-box-shadow: inset 2px 2px 1px 1px #292929;
  box-shadow: inset 1px 1px 1px 2px rgba(0, 0, 0, 0.25);
  background-color: #4fc5e7;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  text-indent: 0px;
  display: inline-block;
  color: #ebebeb;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  height: 50px;
  line-height: 55px;
  width: 200px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 30px;
}
input.text {
  background: #ebebeb;
  display: block;
  border: 2px solid #999ba1;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.15);
  padding: 8px;
  position: relative;
  font-size: 13px;
  margin: 50px auto;
  width: 200px;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* future proofing */
  -khtml-border-radius: 10px;
  /* for old Konqueror     browsers */
}
input.text:focus {
  outline: none;
  border-color: #3b3c3e;
  color: #3b3c3e;
}
/* end of input box*/
#sharesettings {
  background-color: none;
}
#sharebutton {
  -moz-box-shadow: 2px 2px 1px 1px #292929;
  -webkit-box-shadow: 2px 2px 1px 1px #292929;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.25);
  background-color: transparent;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  text-indent: 0px;
  border: 2px solid #3b3c3e;
  display: inline-block;
  color: #3b3c3e;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  height: 50px;
  line-height: 55px;
  width: 200px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
#sharebutton:active {
  -moz-box-shadow: inset 2px 2px 1px 1px #292929;
  -webkit-box-shadow: inset 2px 2px 1px 1px #292929;
  box-shadow: inset 1px 1px 1px 2px rgba(0, 0, 0, 0.25);
  background-color: #4fc5e7;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  text-indent: 0px;
  display: inline-block;
  color: #ebebeb;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  height: 50px;
  line-height: 55px;
  width: 200px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 30px;
}
.share-label {
  color: #3b3c3e;
}
#dropdown-row {
  background-color: none;
  width: 80%;
  height: auto;
  margin-left: 20%;
  overflow: auto;
}
#dropdown-col {
  float: left;
  width: 30%;
}
#tags-col {
  float: left;
  width: 25%;
}
#select-col {
  float: right;
  width: 33%;
}
#dropdownbutton,
.navbar-toggle {
  /*Dropdown button settings*/
  -moz-box-shadow: 2px 2px 1px 1px #292929;
  -webkit-box-shadow: 2px 2px 1px 1px #292929;
  box-shadow: 2px 2px 1px 1px #292929;
  background-color: transparent;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  text-indent: 0px;
  border: 2px solid #3b3c3e;
  display: inline-block;
  color: #3b3c3e;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  height: 50px;
  line-height: 30px;
  width: 200px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin-bottom: 4px;
  outline: none;
}
#dropdownbutton:active,
.navbar-toggle:active {
  /*Dropdown settings when pressed*/
  border: none;
  color: #ebebeb;
  padding: 12px;
  background-color: #4fc5e7;
  box-shadow: inset 2px 2px 1px 1px #292929;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  width: 200px;
  outline: none;
}
/**********tags input**********/
.tagsinput-primary {
  background-color: #ebebeb;
  color: #3b3c3e;
  border: 2px solid #3b3c3e;
  width: 300px;
  height: 33px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
}
input[name="tagsinput"] {
  background-color: #3b3c3e;
  color: #ebebeb;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  border: none;
  width: 80px;
  text-align: center;
  float: left;
  margin: 4px 5px 5px 9px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
}
input[name="tagsinput"]:hover {
  background-color: #4fc5e7;
  color: #ebebeb;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  border: none;
  width: 80px;
  text-align: center;
}
/**********select**********/
.select,
.form-control,
.select-primary {
  -moz-box-shadow: 2px 2px 1px 1px #292929;
  -webkit-box-shadow: 2px 2px 1px 1px #292929;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.25);
  background-color: transparent;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  text-indent: 0px;
  border: 2px solid #3b3c3e;
  display: inline-block;
  color: #3b3c3e;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  height: 50px;
  line-height: 55px;
  width: 200px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #ebebeb;
}
.select2-choice {
  font-family: 'Roboto', sans-serif;
  background-color: #999ba1;
  color: #ebebeb;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-transform: lowercase;
  letter-spacing: .5px;
}
.select-default .select2-choice:active {
  background-color: #4fc5e7;
  color: #ebebeb;
  border-color: none;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .5px;
}
#nav-row {
  background-color: none;
  width: 80%;
  margin-left: 20%;
  overflow: auto;
}
#navbarInput-01 {
  text-align: left;
  text-transform: none;
  padding-left: 10px;
  border: 2px solid #ebebeb;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.15);
  font-size: 13px;
  margin: 10px auto;
  width: 200px;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* future proofing */
  -khtml-border-radius: 10px;
  /* for old Konqueror     browsers */
}
#navbarInput-01:focus {
  outline: none;
  border-color: #3b3c3e;
  color: #3b3c3e;
}
#navbarInput-01::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
#navbarInput-01::-webkit-search-cancel-button:after {
  content: 'x';
  color: #ebebeb;
  width: 20px;
  height: 20px;
}
#submitbutton {
  padding-bottom: 5px;
  height: 20px;
  width: 20px;
  border: none;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #4fc5e7;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* future proofing */
  -khtml-border-radius: 10px;
  /* for old Konqueror     browsers */
}
.pagination {
  background: none;
  padding: 20px;
  margin-bottom: 20px;
}
.page > a {
  color: #3b3c3e;
  font-weight: bold;
}
.page {
  display: inline-block;
  padding: 20px 80px;
  margin-right: 0px;
  border-radius: 1px;
  background: #999ba1;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.8), 0px 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 19px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  font-family: 'Roboto', sans-serif;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
}
.page:hover,
.page.gradient:hover {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4fc5e7), to(#4fc5e7));
}
#activepage {
  -moz-box-shadow: inset 2px 2px 1px 1px #292929;
  -webkit-box-shadow: inset 2px 2px 1px 1px #292929;
  box-shadow: inset 2px 2px 1px 1px #292929;
  background-color: #4fc5e7;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  text-indent: 0px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  height: 30px;
  width: 40px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 30px;
}
#progress-row {
  background-color: none;
  width: 80%;
  margin-left: 20%;
  overflow: auto;
}
#progress-bar {
  width: 65%;
  margin-left: 20%;
  overflow: auto;
  border-radius: 2px;
  background-color: #3b3c3e;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress::-webkit-progress-bar {
  background: #3b3c3e;
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}
/* Now the value part */
progress::-webkit-progress-value {
  box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
  background: -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0)), -webkit-linear-gradient(left, #999ba1, #999ba1);
}
#checkboxes-row {
  background-color: none;
  width: 80%;
  margin-left: 20%;
  overflow: auto;
}
#checkboxes-col {
  float: left;
  width: 30%;
}
#radio-col {
  float: left;
  width: 30%;
}
#switches-col {
  float: left;
  width: 30%;
}
/**********checkbox styles**********/
input[type="checkbox"] {
  -webkit-appearance: none;
  /* Hides the default checkbox style */
  height: 1.8em;
  /*height of checkbox*/
  width: 1.8em;
  /*width of checkbox*/
  cursor: pointer;
  position: relative;
  padding: 4px;
  /*placement of checkmark within box*/
  background-color: #3b3c3e;
  /*color of unchecked box*/
  vertical-align: top;
  /*alignment of checkbox to text*/
}
input[type="checkbox"]:checked {
  background-color: #4fc5e7;
  /*color of active state checkbox*/
}
input[type="checkbox"]:checked:after {
  
  /*checkmark*/
  line-height: .86em;
  /*placement of checkmark within box*/
  font-size: 1.5rem;
  /*checkmark size*/
  padding-left: 10%;
}
/**********radio styles**********/
input[type="radio"] {
  -webkit-appearance: none;
  /* Hides the default checkbox style */
  height: 1.8em;
  width: 1.8em;
  cursor: pointer;
  position: relative;
  background-color: #3b3c3e;
  /*unactive state color - center of button*/
  vertical-align: middle;
  /*alignment of radio button to text*/
  border-radius: 50%;
  /*set circle in unactive state*/
  width: 1.2rem;
  /*set circle width in unactive state*/
  height: 1.2rem;
  /*set circle height in unactive state*/
  border: 0.13rem solid #3b3c3e;
  /*outter circle*/
  box-shadow: inset 0px 0px 0px 2px #ebebeb;
  /*sets grey circle within active button*/
  margin-left: 4px;

}
input[type="radio"]:checked {
  background-color: #4fc5e7;
  /*active state color - center of button*/
  border-radius: 50%;
  /*set circle in active state*/
  width: 1.2rem;
  /*set circle width in active state*/
  height: 1.2rem;
  /*set circle height in active state*/
  border: 0.13rem solid #4fc5e7;
  /*outter circle*/
  box-shadow: inset 0px 0px 0px 2px #ebebeb;
  /*sets grey circle within active button*/
  margin-left: 4px
}
/**********switch styles & transitions**********/
.ui-flipswitch {
  font-family: 'Roboto', sans-serif;
  color: #ebebeb;
  /*color of ON/OFF text*/
  background-color: #999ba1;
  /*background color for both sides/all of switch*/
  display: inline-block;
  vertical-align: middle;
  width: 5em;
  /* width of OFF state switch*/
  height: 1.875em;
  /*height of switches*/
  margin: .4em 0;
  /*spacing around buttons -bottom, left*/
  overflow: hidden;
  border-radius: 2px;
  /*curve the edges of all buttons slightly*/
  /*below are the switch transitions*/
  -webkit-transition-property: padding, width, background-color, color;
  -moz-transition-property: padding, width, background-color, color;
  -o-transition-property: padding, width, background-color, color;
  transition-property: padding, width, background-color, color;
  -webkit-transition-duration: 100ms;
  -moz-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.ui-flipswitch.ui-flipswitch-active {
  padding-left: 3em;
  /*keeps width of ON state same as OFF state */
  width: 2em;
  /*width of ON state background color*/
  background-color: #4fc5e7;
  /*background color of ON state*/
}
.ui-flipswitch-input {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  outline: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}
.ui-flipswitch .ui-btn.ui-flipswitch-on,
.ui-flipswitch .ui-flipswitch-off {
  float: left;
  height: 1.875em;
  /*bottom of button length*/
  line-height: 1.85em;
  /*text height on switches*/
}
.ui-flipswitch .ui-btn.ui-flipswitch-on {
  width: 2em;
  /*width of button in both states*/
  text-indent: -2.15em;
  /* center ON text on background color */
  text-align: left;
  overflow: visible;
  color: inherit;
  text-shadow: inherit;
  background-color: #3b3c3e;
  /*color of button in ON state, fits right*/
}
.ui-flipswitch .ui-flipswitch-off {
  color: #3b3c3e;
  background-color: #999ba1;
  /*color of OFF space (covers button overflow color)*/
  padding: 1px;
  text-indent: .7em;
  /*center OFF text on background color */
}
.ui-flipswitch-active.ui-state-disabled {
  background-color: #999ba1;
  /*color of ON space (covers button overflow color)*/
}
.ui-flipswitch-disabled {
  color: #ebebeb;
  background-color: #ebebeb;
  /*color of ON space (covers button overflow color)*/
}
/* Override field container CSS to prevent the flipswitch from becomming full width */
html .ui-field-contain > label + .ui-flipswitch,
html .ui-popup .ui-field-contain > label + .ui-flipswitch {
  display: inline-block;
  width: 5em;
  /* If you override the width for .ui-flipswitch you should repeat the same value here */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.ui-field-contain .ui-flipswitch.ui-flipswitch-active,
.ui-popup .ui-field-contain .ui-flipswitch.ui-flipswitch-active {
  width: 1.875em;
}
#image-row {
  margin-left: 20%;
  background-color: none;
  overflow: auto;
}
#image-col {
  float: left;
  width: 40%;
}
#color-col {
  float: right;
  width: 55%;
}
.image-section > img {
  width: 350px;
  height: auto;
}
#typo-row {
  background-color: none;
  width: 80%;
  margin-left: 20%;
  overflow: auto;
}
.demo-heading-note {
  background-color: none;
  width: 20px;
}
.demo-type-example > p {
  background-color: none;
  width: 80%;
}

=======
>>>>>>> parent of c0cb93e... css mergeth
=======
>>>>>>> parent of c0cb93e... css mergeth
=======
>>>>>>> parent of c0cb93e... css mergeth
