@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
.square {
  text-align: center;
  width: 200px;
  height: 200px;
  border: 10px solid #fff;
  display: inline-block;
  margin-right: -12px;
  font-size: h4;
}
.inactivebutton {
  -moz-box-shadow: 2px 2px 1px 1px #292929;
  -webkit-box-shadow: 2px 2px 1px 1px #292929;
  box-shadow: 2px 2px 1px 1px #292929;
  background-color: transparent;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  text-indent: 0px;
  border: 2px solid #3b3c3e;
  display: inline-block;
  color: #3b3c3e;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  height: 50px;
  line-height: 55px;
  width: 200px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
.activebutton {
  -moz-box-shadow: inset 2px 2px 1px 1px #292929;
  -webkit-box-shadow: inset 2px 2px 1px 1px #292929;
  box-shadow: inset 2px 2px 1px 1px #292929;
  background-color: #4fc5e7;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  text-indent: 0px;
  display: inline-block;
  color: #ebebeb;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  height: 50px;
  line-height: 55px;
  width: 200px;
  text-decoration: none;
  text-align: center;
  border: none;
}
.corner {
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
}
.sq1,
.sq2,
.sq3,
.sq4 {
  text-align: center;
  width: 200px;
  height: 200px;
  border: 10px solid #fff;
  display: inline-block;
  margin-right: -12px;
  font-size: h4;
}
.sq1 {
  background-color: #3b3c3e;
}
.sq2 {
  background-color: #4fc5e7;
}
.sq3 {
  background-color: #ebebeb;
}
.sq4 {
  background-color: #999ba1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}
body {
  background-color: #ebebeb;
  color: #3b3c3e;
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
  color: #3b3c3e;
}
ul {
  list-style-type: square;
  color: #4fc5e7;
}
.title {
  padding-top: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}
.title > img {
  width: 15%;
  height: auto;
}
#button-row {
  align: center;
  background-color: none;
  width: 80%;
  margin-left: 20%;
  overflow: auto;
}
#button-col {
  float: left;
  width: 30%;
}
#input-col {
  float: left;
  width: 25%;
}
#share-col {
  float: right;
  width: 35%;
}
.btn-inactive {
  -moz-box-shadow: 2px 2px 1px 1px #292929;
  -webkit-box-shadow: 2px 2px 1px 1px #292929;
  box-shadow: 2px 2px 1px 1px #292929;
  background-color: transparent;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  text-indent: 0px;
  border: 2px solid #3b3c3e;
  display: inline-block;
  color: #3b3c3e;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  height: 50px;
  line-height: 55px;
  width: 200px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
.btn:hover {
  text-decoration: none;
}
.btn-active {
  margin-bottom: 1em;
  -moz-box-shadow: inset 2px 2px 1px 1px #292929;
  -webkit-box-shadow: inset 2px 2px 1px 1px #292929;
  box-shadow: inset 2px 2px 1px 1px #292929;
  background-color: #4fc5e7;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  text-indent: 0px;
  display: inline-block;
  color: #ebebeb;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  height: 50px;
  line-height: 55px;
  width: 200px;
  text-decoration: none;
  text-align: center;
  border: none;
}
input.text {
  background: #ebebeb;
  display: block;
  border: 2px solid #3b3c3e;
  box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.15);
  padding: 8px;
  position: relative;
  font-size: 13px;
  margin: 50px auto;
  width: 200px;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -khtml-border-radius: 10px;
}
input.text:focus {
  outline: none;
  border-color: #3b3c3e;
  color: #3b3c3e;
}
#sharesettings {
  background-color: none;
}
#sharebutton {
  -moz-box-shadow: 2px 2px 1px 1px #292929;
  -webkit-box-shadow: 2px 2px 1px 1px #292929;
  box-shadow: 2px 2px 1px 1px #292929;
  background-color: transparent;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  text-indent: 0px;
  border: 2px solid #3b3c3e;
  display: inline-block;
  color: #3b3c3e;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  height: 50px;
  line-height: 55px;
  width: 200px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
#sharebutton:active {
  -moz-box-shadow: inset 2px 2px 1px 1px #292929;
  -webkit-box-shadow: inset 2px 2px 1px 1px #292929;
  box-shadow: inset 2px 2px 1px 1px #292929;
  background-color: #4fc5e7;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  text-indent: 0px;
  display: inline-block;
  color: #ebebeb;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  height: 50px;
  line-height: 55px;
  width: 200px;
  text-decoration: none;
  text-align: center;
  border: none;
}
.share-label {
  color: #3b3c3e;
}
#dropdown-row {
  background-color: none;
  width: 80%;
  height: auto;
  margin-left: 20%;
  overflow: auto;
}
#dropdown-col {
  float: left;
  width: 30%;
}
#tags-col {
  float: left;
  width: 25%;
}
#select-col {
  float: right;
  width: 33%;
}
#dropdownbutton,
.navbar-toggle {
  -moz-box-shadow: 2px 2px 1px 1px #292929;
  -webkit-box-shadow: 2px 2px 1px 1px #292929;
  box-shadow: 2px 2px 1px 1px #292929;
  background-color: transparent;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  text-indent: 0px;
  border: 2px solid #3b3c3e;
  display: inline-block;
  color: #3b3c3e;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  height: 50px;
  line-height: 30px;
  width: 200px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin-bottom: 4px;
  outline: none;
}
#dropdownbutton:active,
.navbar-toggle:active {
  border: none;
  color: #ebebeb;
  padding: 12px;
  background-color: #4fc5e7;
  box-shadow: inset 2px 2px 1px 1px #292929;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  width: 200px;
  outline: none;
}
.tagsinput-primary {
  background-color: #ebebeb;
  color: #3b3c3e;
  border: 2px solid #3b3c3e;
  width: 300px;
  height: 33px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
}
input[name="tagsinput"] {
  background-color: #3b3c3e;
  color: #ebebeb;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  border: none;
  width: 80px;
  text-align: center;
  float: left;
  margin: 4px 5px 5px 9px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
}
input[name="tagsinput"]:hover {
  background-color: #4fc5e7;
  color: #ebebeb;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  border: none;
  width: 80px;
  text-align: center;
}
.select,
.form-control,
.select-primary {
  -moz-box-shadow: 2px 2px 1px 1px #292929;
  -webkit-box-shadow: 2px 2px 1px 1px #292929;
  box-shadow: 2px 2px 1px 1px #292929;
  background-color: transparent;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  text-indent: 0px;
  border: 2px solid #3b3c3e;
  display: inline-block;
  color: #3b3c3e;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  height: 50px;
  line-height: 55px;
  width: 200px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #ebebeb;
}
.select2-choice {
  font-family: 'Open Sans', sans-serif;
  background-color: #999ba1;
  color: #ebebeb;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  text-transform: lowercase;
  letter-spacing: .5px;
}
.select-default .select2-choice:active {
  background-color: #4fc5e7;
  color: #ebebeb;
  border-color: none;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .5px;
}
#nav-row {
  background-color: none;
  width: 80%;
  margin-left: 20%;
  overflow: auto;
}
#navbarInput-01 {
  text-align: left;
  text-transform: none;
  padding-left: 10px;
  border: 2px solid #ebebeb;
  box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.15);
  font-size: 13px;
  margin: 10px auto;
  width: 200px;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -khtml-border-radius: 10px;
}
#navbarInput-01:focus {
  outline: none;
  border-color: #3b3c3e;
  color: #3b3c3e;
}
#navbarInput-01::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
#navbarInput-01::-webkit-search-cancel-button:after {
  content: 'x';
  color: #ebebeb;
  width: 20px;
  height: 20px;
}
#submitbutton {
  padding-bottom: 5px;
  height: 20px;
  width: 20px;
  border: none;
  box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.15);
  background-color: #4fc5e7;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -khtml-border-radius: 10px;
}
.pagination {
  background: none;
  padding: 20px;
  margin-bottom: 20px;
}
.page > a {
  color: #3b3c3e;
  font-weight: bold;
}
.page {
  display: inline-block;
  padding: 20px 80px;
  margin-right: 0px;
  border-radius: 1px;
  background: #999ba1;
  box-shadow: inset 1px 1px 1px rgba(255,255,255,0.8), 0px 1px 3px rgba(0,0,0,0.1);
  font-size: 19px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  font-family: 'Oswald', sans-serif;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
}
.page:hover,
.page.gradient:hover {
  background: -webkit-gradient(linear,0% 0%,0% 100%,from(#4fc5e7),to(#4fc5e7));
}
#activepage {
  -moz-box-shadow: inset 2px 2px 1px 1px #292929;
  -webkit-box-shadow: inset 2px 2px 1px 1px #292929;
  box-shadow: inset 2px 2px 1px 1px #292929;
  background-color: #4fc5e7;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  text-indent: 0px;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  height: 30px;
  width: 40px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 30px;
}
#progress-row {
  background-color: none;
  width: 80%;
  margin-left: 20%;
  overflow: auto;
}
#progress-bar {
  width: 65%;
  margin-left: 20%;
  overflow: auto;
  border-radius: 2px;
  background-color: #3b3c3e;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25) inset;
}
progress::-webkit-progress-bar {
  background: #3b3c3e;
  box-shadow: 0 1px 0px 0 rgba(255,255,255,0.2);
}
progress::-webkit-progress-value {
  box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.4);
  background: -webkit-linear-gradient(45deg,transparent,transparent 33%,rgba(0,0,0,0) 33%,rgba(0,0,0,0) 66%,transparent 66%), -webkit-linear-gradient(top,rgba(255,255,255,0.25),rgba(0,0,0,0)), -webkit-linear-gradient(left,#999ba1,#999ba1);
}
#checkboxes-row {
  background-color: none;
  width: 80%;
  margin-left: 20%;
  overflow: auto;
}
#checkboxes-col {
  float: left;
  width: 30%;
}
#radio-col {
  float: left;
  width: 30%;
}
#switches-col {
  float: left;
  width: 30%;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  height: 1.8em;
  width: 1.8em;
  cursor: pointer;
  position: relative;
  line-height: 1.6em;
  background-color: #3b3c3e;
  vertical-align: top;
}
input[type="checkbox"]:checked {
  background-color: #4fc5e7;
}
input[type="checkbox"]:checked:after {
  content: 'â��';
  line-height: .86em;
  font-size: 1.5rem;
  padding-left: 10%;
}
input[type="radio"] {
  -webkit-appearance: none;
  height: 1.8em;
  width: 1.8em;
  cursor: pointer;
  position: relative;
  background-color: #3b3c3e;
  vertical-align: middle;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  border: .13rem solid #3b3c3e;
  box-shadow: inset 0px 0px 0px 2px #ebebeb;
}
input[type="radio"]:checked {
  background-color: #4fc5e7;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  border: .13rem solid #4fc5e7;
  box-shadow: inset 0px 0px 0px 2px #ebebeb;
}
.ui-flipswitch {
  font-family: 'Oswald', sans-serif;
  color: #ebebeb;
  background-color: #999ba1;
  display: inline-block;
  vertical-align: middle;
  width: 5em;
  height: 1.875em;
  margin: .4em 0;
  overflow: hidden;
  border-radius: 2px;
  -webkit-transition-property: padding, width, background-color, color;
  -moz-transition-property: padding, width, background-color, color;
  -o-transition-property: padding, width, background-color, color;
  transition-property: padding, width, background-color, color;
  -webkit-transition-duration: 100ms;
  -moz-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.ui-flipswitch.ui-flipswitch-active {
  padding-left: 3em;
  width: 2em;
  background-color: #4fc5e7;
}
.ui-flipswitch-input {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);
  outline: 0;
  filter: Alpha(Opacity=0);
  opacity: 0;
}
.ui-flipswitch .ui-btn.ui-flipswitch-on,
.ui-flipswitch .ui-flipswitch-off {
  float: left;
  height: 1.875em;
  line-height: 1.85em;
}
.ui-flipswitch .ui-btn.ui-flipswitch-on {
  width: 2em;
  text-indent: -2.15em;
  text-align: left;
  overflow: visible;
  color: inherit;
  text-shadow: inherit;
  background-color: #3b3c3e;
}
.ui-flipswitch .ui-flipswitch-off {
  color: #3b3c3e;
  background-color: #999ba1;
  padding: 1px;
  text-indent: .7em;
}
.ui-flipswitch-active.ui-state-disabled {
  background-color: #999ba1;
}
.ui-flipswitch-disabled {
  color: #ebebeb;
  background-color: #ebebeb;
}
html .ui-field-contain > label + .ui-flipswitch,
html .ui-popup .ui-field-contain > label + .ui-flipswitch {
  display: inline-block;
  width: 5em;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.ui-field-contain .ui-flipswitch.ui-flipswitch-active,
.ui-popup .ui-field-contain .ui-flipswitch.ui-flipswitch-active {
  width: 1.875em;
}
.beacon {
  position: relative;
}
.beacon .marker {
  border: 3px solid ;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  left: 30px;
  position: absolute;
  top: 28px;
  -webkit-animation-name: beacon;
  -webkit-animation-delay: .1s;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes beacon {
  from {
    border-radius: 5px;
    -webkit-border-radius: 3px;
  }
  to {
    border-radius: 25px;
    -webkit-border-radius: 25px;
    left: 9px;
    padding: 21px;
    top: 7px;
  }
}
#image-row {
  margin-left: 20%;
  background-color: none;
  overflow: auto;
}
#image-col {
  float: left;
  width: 40%;
}
#color-col {
  float: right;
  width: 55%;
}
.image-section > img {
  width: 350px;
  height: auto;
}
#typo-row {
  background-color: none;
  width: 80%;
  margin-left: 20%;
  overflow: auto;
}
.demo-heading-note {
  background-color: none;
  width: 20px;
}
.demo-type-example > p {
  background-color: none;
  width: 80%;
}